__pycache__/
*.py[cod]
*.pyo
*.pyd

venv/
.env/
.venv/

.env
*.env

.vscode/
.idea/
*.code-workspace

.DS_Store
Thumbs.db

instance/
.coverage
htmlcov/
.coverage.*
.pytest_cache/

*.log

*.egg-info/
.eggs/

build/
dist/

*.db

*.bak
*.tmp
